<table class="table table-bordered">
    <tr>
        <th style="text-align:center; width:35%"><img src='https://dl.dropbox.com/s/qtzukmzqavebjd2/icon_smu.jpg' style="width: 300px; height: 90px; "></th>
        <th style="text-align:center;"><h3>ACCT649 - Pandas</h3></th>
    </tr>
</table>
*References - Python for Data Analysis- Data Wrangling with Pandas, NumPy,and IPython - Wes McKinney; O'REILLY <br></br>
*Michael Heydt-Mastering pandas for Finance- Master pandas, an open source Python Data Analysis Library, for financial data analysis-Packt Publishing (2015)

## Dataset: Players.csv, Teams.csv
In this NoteBook, we'll learn how to do some basic data manipulations. In this exercise, you'll be using Players.csv and Teams.csv. Take some time to examine both datasets and see what kinds of data is captured in there.

### Q1:

Import the dataset Players.csv into a Python DataFrame. Print the first and last 5 rows of the dataset

In [1]:
# Import libraries
import pandas as pd

# Read dataset from CSV file
players = pd.read_csv('../Dataset/Players.csv')

# Show first 5 rows, just to make sure everything is OK
players.head()

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2

### Q2:

Print the summary statistical description of the DataFrame you created in Q1.

In [2]:
# Show statistics of all numeric variables
players.describe()

          minutes       shots      passes     tackles       saves
count  595.000000  595.000000  595.000000  595.000000  595.000000
mean   208.863866    2.304202   84.521008    4.191597    0.667227
std    145.433556    3.347430   77.310368    4.654052    2.955936
min      1.000000    0.000000    0.000000    0.000000    0.000000
25%     88.000000    0.000000   29.000000    1.000000    0.000000
50%    191.000000    1.000000   61.000000    3.000000    0.000000
75%    270.000000    3.000000  115.500000    6.000000    0.000000
max    570.000000   27.000000  563.000000   34.000000   20.000000

### Q3:

Print (a) the total minutes that all the players played, (b) number of average shots per player and (c) maximum tackles.

In [3]:
# Print total minutes that all players played
print(players['minutes'].sum())

# Print average shots per players
print(players['shots'].mean())

# Print maximum tackles
print(players['tackles'].max())

124274
2.3042016806722687
34

### Q4:

Print the surname of the players on a team with "land" in the team name.

In [4]:
# First, check all players to see if their team contains the string 'land'.
# Then, use the above with boolean indexing to only get the players if their tema contains the string 'land'.
# Then, get only the 'surname' column
players[players['team'].str.contains('land')]['surname']

135    Ashley Cole
136          Barry
137      Carragher
138         Crouch
139          Defoe
          ...
550       Senderos
551        Shaqiri
552          Yakin
553        Ziegler
554     von Bergen
Name: surname, Length: 70, dtype: object

### Q5:

What player on a team with "ia" in the team name played less than 200 minutes and made more than 100 passes? Print the player surname.

In [5]:
# Find all players in teams with "ia" in the team name
players_teams_ia = players[players['team'].str.contains('ia')]

# Find all players in above dataset who played less than 200 mins and made more than 100 passes
players_teams_ia2 = players_teams_ia[(players_teams_ia['minutes'] < 200) & (players_teams_ia['passes'] > 100)]

# Print only the surname from above dataset
players_teams_ia2['surname']

431    Kuzmanovic
Name: surname, dtype: object

### Q6:

What is the average number of passes made by forwards? By midfielders?

In [6]:
# First, group by position.
# Then, get only the 'passes' column.
# Then, get average,
# Then get only rows 'forward' and 'midfielder'
players.groupby('position')['passes'].mean()[['forward', 'midfielder']]

position
forward       50.825175
midfielder    95.271930
Name: passes, dtype: float64

### Q7:

Which team has the highest ratio of goalsFor to goalsAgainst? Print the team  only.

You will need to use the file Teams.csv

In [7]:
# Read dataset from CSV file
teams = pd.read_csv('../Dataset/Teams.csv')

# Calculate ratio for all teams
teams['ratio'] = teams['goalsFor'] / teams['goalsAgainst']

# Find maximum ratio
max_ratio = teams['ratio'].max()

# Print only the team name that achieved this maximum ratio
teams[teams['ratio'] == max_ratio]['team']

2    Portugal
Name: team, dtype: object

### Q8:

How many players on a team with ranking <10 played more than 350 minutes?

In [8]:
# Merge the two datasets ('players' and 'teams'),
# using column 'team' as the common index
players_teams = players.merge(teams, on = 'team')

# Show first 10 rows, just to check
print(players_teams.head(10))

# Get all players in teams with ranking less than 10,
# AND players who played more than 350 mins,
# then get dimensions and show first dimension (number of rows)
players_teams[(players_teams['ranking'] < 10) & (players_teams['minutes'] > 350)].shape[0]

     surname     team    position  minutes  shots  passes  tackles  saves  \
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2
5   Djebbour  Algeria     forward      123      3      19        1      0
6    Ghezzal  Algeria     forward       40      3       8        0      0
7  Guedioura  Algeria  midfielder       38      0      18        1      0
8   Halliche  Algeria    defender      270      2      94        4      0
9      Kadir  Algeria  midfielder      262      0     104        3      0

   ranking  games  wins  draws  losses  goalsFor  goalsAgainst  yellowCards  \
0       30      3     0      1       2         0             2            4
1       30      3     0      1       2         0             2            4
2       30      3     0      1       2         0             2            4
3       30      3     0      1       2         0             2            4
4       30      3     0      1       2         0             2            4
5       30      3     0      1       2         0             2            4
6       30      3     0      1       2         0             2            4
7       30      3     0      1       2         0             2            4
8       30      3     0      1       2         0             2            4
9       30      3     0      1       2         0             2            4

   redCards  ratio
0         2    0.0
1         2    0.0
2         2    0.0
3         2    0.0
4         2    0.0
5         2    0.0
6         2    0.0
7         2    0.0
8         2    0.0
9         2    0.0

54

### Q9:

How many players on a team with goalsFor/goalsAgainst ratio of at least 1 and made more than 100 passes?

In [9]:
# Get all players in teams with ratio at least 1,
# AND players who made at least 100 passes,
# then get dimensions and show first dimension (number of rows)
players_teams[(players_teams['ratio'] >= 1) & (players_teams['passes'] > 100)].shape[0]

107