## Basic Pandas Operations

### Q1:
Import airports.csv and use the first column of the dataset 'iata' as raw labels.
You can use index_col = 'name_of_column' as a parameter to the read_csv() to perform this type of labeling.

In [1]:
# Import libraries
import pandas as pd

# Read dataset from CSV file, with the 'iata' column containing unique IDs
# (therefore, the 'iata' column can be used as the index column)
airports = pd.read_csv('../Dataset/airports.csv', index_col = 'iata')

# Show first 5 rows, just to make sure everything is OK
airports.head()

,airport,city,state,country,lat,long
iata,,,,,,
00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

### Q2:
Extract the first 10 rows and first four columns excluding 'iata' (i.e. 'airport', 'city', 'state' and 'country').

Also extract the last 10 rows and first four columns excluding 'iata'.

In [2]:
# Get first 10 rows and first 4 columns
airports.iloc[:10, :4]

                   airport              city state country
iata
00M               Thigpen        Bay Springs    MS     USA
00R   Livingston Municipal        Livingston    TX     USA
00V            Meadow Lake  Colorado Springs    CO     USA
01G           Perry-Warsaw             Perry    NY     USA
01J       Hilliard Airpark          Hilliard    FL     USA
01M      Tishomingo County           Belmont    MS     USA
02A            Gragg-Wade            Clanton    AL     USA
02C                Capitol        Brookfield    WI     USA
02G      Columbiana County    East Liverpool    OH     USA
03D       Memphis Memorial           Memphis    MO     USA

In [3]:
# Get last 10 rows and first 4 columns
airports.iloc[-10:, :4]

                        airport           city state country
iata
Z55                 Lake Louise    Lake Louise    AK     USA
Z73               Nelson Lagoon  Nelson Lagoon    AK     USA
Z84                       Clear   Clear A.F.B.    AK     USA
Z91                 Birch Creek    Birch Creek    AK     USA
Z95                     Cibecue        Cibecue    AZ     USA
ZEF             Elkin Municipal          Elkin    NC     USA
ZER   Schuylkill Cty/Joe Zerbey     Pottsville    PA     USA
ZPH       Zephyrhills Municipal    Zephyrhills    FL     USA
ZUN                  Black Rock           Zuni    NM     USA
ZZV        Zanesville Municipal     Zanesville    OH     USA

### Q3:

Print the summary of statistical description of the DataFrame

In [4]:
# Show statistics of all numeric variables
airports.describe()

               lat         long
count  3376.000000  3376.000000
mean     40.036524   -98.621205
std       8.329559    22.869458
min       7.367222  -176.646031
25%      34.688427  -108.761121
50%      39.434449   -93.599425
75%      43.372612   -84.137519
max      71.285448   145.621384

### Q4:

Use the row labels ('iata') to get only the rows with the labels '2P2', 'PAO', 'PIT' and 'PNN'

In [5]:
# Get rows with labels '2P2', 'PAO', 'PIT' and 'PNN'.
# We use two sets of square brackets,
# because the inner brackets provide a list of all the rows,
# and the outer brackets are used to give the rows (and if wanted, the columns)
airports.loc[['2P2', 'PAO', 'PIT', 'PNN']]

,airport,city,state,country,lat,long
iata,,,,,,
2P2,Washington Island,Washington Island,WI,USA,45.386208,-86.924481
PAO,Palo Alto Arpt of Santa Clara Co,Palo Alto,CA,USA,37.461119,-122.115044
PIT,Pittsburgh International,Pittsburgh,PA,USA,40.491466,-80.232871
PNN,Princeton Municipal,Princeton,ME,USA,45.200667,-67.564389

### Q5:

Now use the row indexes to display the rows with indices 100 to 104 (both inclusive)

In [6]:
# Get rows 100 to 104 from the dataset.
# We have to type "105" not "104" since the last row number given is not included.
airports.iloc[100:105]

                 airport      city state country        lat       long
iata
11R    Brenham Municipal   Brenham    TX     USA  30.219000 -96.374278
12C   Rochelle Municipal  Rochelle    IL     USA  41.893001 -89.078290
12D      Tower Municipal     Tower    MN     USA  47.818333 -92.291667
12J    Brewton Municipal   Brewton    AL     USA  31.051263 -87.067968
12K   Superior Municipal  Superior    NE     USA  40.046361 -98.060111

### Q6:

Display the first 4 columms of the rows with the labels '2P2', 'PAO', 'PIT' and 'PNN'

In [7]:
# First, get rows with labels '2P2', 'PAO', 'PIT' and 'PNN',
# then, get only the first 4 columns.
airports.loc[['2P2', 'PAO', 'PIT', 'PNN']].iloc[:,:4]

                               airport               city state country
iata
2P2                  Washington Island  Washington Island    WI     USA
PAO   Palo Alto Arpt of Santa Clara Co          Palo Alto    CA     USA
PIT           Pittsburgh International         Pittsburgh    PA     USA
PNN                Princeton Municipal          Princeton    ME     USA

### Q7:

Display the airports (print all the columns) in the state 'CO'

In [8]:
# First, get only the 'state' column,
# then, check if it is equal to "CO",
# then, use the above result with boolean indexing to show only the airports where 'state' column is "CO"
airports[airports['state'] == "CO"]

,airport,city,state,country,lat,long
iata,,,,,,
00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
0V2,Harriet Alexander,Salida,CO,USA,38.539164,-106.045848
1V5,Boulder Muni,Boulder,CO,USA,40.039430,-105.225822
1V6,Fremont County,Canon City,CO,USA,38.428381,-105.105499
1V9,Blake,Delta,CO,USA,38.785397,-108.063661
20V,McElroy Airfield,Kremmling,CO,USA,40.053680,-106.368947
2V1,Stevens,Pagosa Springs,CO,USA,37.277505,-107.055874
2V2,Vance Brand,Longmont,CO,USA,40.163671,-105.163037
2V5,Wray Municipal,Wray,CO,USA,40.100323,-102.240960
2V6,Yuma Municipal,Yuma,CO,USA,40.104153,-102.712987
3V4,Fort Morgan Municipal,Fort Morgan,CO,USA,40.334232,-103.803951
48V,Tri-County,Erie,CO,USA,40.010225,-105.047975
4V0,Rangely,Rangely,CO,USA,40.094699,-108.761217
4V1,Johnson,Walsenburg,CO,USA,37.696401,-104.783875
6V6,Hopkins,Nucla,CO,USA,38.238798,-108.563260
7V1,Buena Vista Muni,Buena Vista,CO,USA,38.814162,-106.120694
AKO,Akron-Washington Co,Akron,CO,USA,40.175633,-103.222028
ALS,San Luis Valley Regional/Bergman,Alamosa,CO,USA,37.434917,-105.866556
APA,Centennial,Denver,CO,USA,39.570128,-104.849294
ASE,Aspen-Pitkin Co/Sardy,Aspen,CO,USA,39.223160,-106.868845
BJC,Jeffco,Denver,CO,USA,39.908787,-105.117216
CAG,Craig-Moffat,Craig,CO,USA,40.495221,-107.521647
CEZ,Cortez Muni,Cortez,CO,USA,37.302998,-108.628066
COS,City of Colorado Springs Muni,Colorado Springs,CO,USA,38.805806,-104.700250
DEN,Denver Intl,Denver,CO,USA,39.858408,-104.667002
DRO,Durango-La Plata County,Durango,CO,USA,37.151517,-107.753769
EEO,Meeker,Meeker,CO,USA,40.048862,-107.885907
EGE,Eagle County Regional,Eagle,CO,USA,39.642568,-106.917695
FNL,Fort Collins-Loveland,Fort Collins/Loveland,CO,USA,40.451827,-105.011336
FTG,Front Range,Denver,CO,USA,39.785250,-104.543139
GJT,Walker,Grand Junction,CO,USA,39.122413,-108.526735
GNB,Granby-Grand County,Granby,CO,USA,40.089708,-105.917237
GUC,Gunnison County,Gunnison,CO,USA,38.533963,-106.933182
GXY,Greeley-Weld County,Greeley,CO,USA,40.435618,-104.632116
HDN,Yampa Valley,Hayden,CO,USA,40.481180,-107.217660
HEQ,Holyoke,Holyoke,CO,USA,40.569431,-102.272688
ITR,Kit Carson County,Burlington,CO,USA,39.242500,-102.285389
LAA,Lamar Muni,Lamar,CO,USA,38.069694,-102.688500
LHX,La Junta Muni,La Junta,CO,USA,38.051341,-103.510691
LIC,Limon Municipal,Limon,CO,USA,39.272765,-103.666339
LXV,Lake County,Leadville,CO,USA,39.220267,-106.316691
MTJ,Montrose Regional,Montrose,CO,USA,38.508867,-107.893833
MVI,Monte Vista Muni,Monte Vista,CO,USA,37.528558,-106.046053
PUB,Pueblo Memorial,Pueblo,CO,USA,38.289087,-104.496572
RIL,Garfield County Regional,Rifle,CO,USA,39.526315,-107.726940
SBS,Steamboat Springs,Steamboat Springs,CO,USA,40.516259,-106.866301
STK,Crosson,Sterling,CO,USA,40.615263,-103.264656
TAD,Perry Stokes,Trinidad,CO,USA,37.259378,-104.340675
TEX,Telluride Regional,Telluride,CO,USA,37.953759,-107.908480

### Q8:

Display the airports with lat > 48 and long < -170

In [9]:
# First, for each row in the dataset, check if 'lat' is greater than 48.
# Then, for each row in the dataset, check if 'long' is less than -170.
# Then, AND the two above results.
# Then, use the above with boolean indexing to only get the airports that meet both the above conditions
airports[(airports['lat'] > 48) & (airports['long'] < -170)]

       airport      city state country        lat        long
iata
ADK       Adak      Adak    AK     USA  51.877964 -176.646031
AKA       Atka      Atka    AK     USA  52.220348 -174.206350
GAM    Gambell   Gambell    AK     USA  63.766766 -171.732824
SNP   St. Paul  St. Paul    AK     USA  57.167333 -170.220444
SVA   Savoonga  Savoonga    AK     USA  63.686394 -170.492636

### Q9:

Sort the DataFrame by the index and display the top 10 rows of it. You can use sort_index() for this.

In [10]:
# Sort DataFrame by index, then show first 10 rows
airports.sort_index().head(10)

,airport,city,state,country,lat,long
iata,,,,,,
00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944
01M,Tishomingo County,Belmont,MS,USA,34.491667,-88.201111
02A,Gragg-Wade,Clanton,AL,USA,32.850487,-86.611453
02C,Capitol,Brookfield,WI,USA,43.087510,-88.177869
02G,Columbiana County,East Liverpool,OH,USA,40.673313,-80.641406
03D,Memphis Memorial,Memphis,MO,USA,40.447259,-92.226961

### Q10:

Now sort the DataFrame in the descending order of latitude and print the first 10 rows. You may use sort_values(column_name, ascending=False) for this.

In [11]:
# Sort DataFrame by 'lat' in descending order, then show first 10 rows
airports.sort_values('lat', ascending = False).head(10)

,airport,city,state,country,lat,long
iata,,,,,,
BRW,Wiley Post Will Rogers Memorial,Barrow,AK,USA,71.285448,-156.766002
AWI,Wainwright,Wainwright,AK,USA,70.638000,-159.994750
ATK,Atqasuk,Atqasuk,AK,USA,70.467276,-157.435736
AQT,Nuiqsut,Nuiqsut,AK,USA,70.209953,-151.005561
SCC,Deadhorse,Deadhorse,AK,USA,70.194756,-148.465161
BTI,Barter Island,Kaktovik,AK,USA,70.133903,-143.577044
PIZ,Point Lay Dew Station,Point Lay,AK,USA,69.732875,-163.005342
GBH,Galbraith Lake,Galbraith Lake,AK,USA,68.479063,-149.490021
PHO,Point Hope,Point Hope,AK,USA,68.348774,-166.799309
AKP,Anaktuvuk Pass,Anaktuvuk Pass,AK,USA,68.134322,-151.741680