<table class="table table-bordered">
    <tr>
        <th style="text-align:center; width:35%"><img src='https://dl.dropbox.com/s/qtzukmzqavebjd2/icon_smu.jpg' style="width: 300px; height: 90px; "></th>
        <th style="text-align:center;"><h3>ACCT649 - Data Cleaning and Preparation</h3></th>
    </tr>
</table>
*References - Python for Data Analysis- Data Wrangling with Pandas, NumPy,and IPython - Wes McKinney; O'REILLY <br></br>
*Michael Heydt-Mastering pandas for Finance- Master pandas, an open source Python Data Analysis Library, for financial data analysis-Packt Publishing (2015)

## Handling Missing Data


The missing data is represented as a floating point value `NaN` for numeric data. This convention is commonly used in `R` programming language where `NA` (or _not available_) is used to represent the data that is not available. In statistics applications, `NA` data may either be data that does not exist or that exists but was not observed.

In [2]:
# Import libraries
import pandas as pd
import numpy as np

# Create a series with one missing value
data = pd.Series(['Aberdeen', 'Athens', 'Berlin', np.nan, 'Rome', 'Zurich'])

# Print out the series
print(data)
print(40*'-')

# For each value in the series, is it null (missing value)?
print(data.isnull())

0    Aberdeen
1      Athens
2      Berlin
3         NaN
4        Rome
5      Zurich
dtype: object

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

<table align="left" class="table table-bordered" style="width:80%">
<tr>
<th style="text-align: left; width:20%">Argument</th>
<th style="text-align: left; width:70%">Description</th>
</tr>
<tr>
<td style="text-align:left;">dropna</td>
<td style="text-align:left;">Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate</td>
</tr>
<tr>
<td style="text-align:left;">fillna</td>
<td style="text-align:left;">Fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill'.</td>
</tr>
<tr>
<td style="text-align:left;">isnull</td>
<td style="text-align:left;">Return boolean values indicating which values are missing/NA.</td>
</tr>
<tr>
<td style="text-align:left;">notnull</td>
<td style="text-align:left;">Negation of isnull</td>
</tr>
</table>

In [3]:
# Replace the missing value with None.
data[3] = None

# For each value in the series, is it null (missing value)?
print(data.isnull())
print(40*'-')

# Print out the series, but remove missing values
print(data.dropna())
print(40*'-')

# For each value in the series, is it not null (not a missing value)?
print(data.notnull())

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool
----------------------------------------
0    Aberdeen
1      Athens
2      Berlin
4        Rome
5      Zurich
dtype: object
----------------------------------------
0     True
1     True
2     True
3    False
4     True
5     True
dtype: bool

In DataFrame objects, `dropna()` works bit differently. Execute the code in the example below to see how it works in a DataFrame.

In [4]:
# Create a dictionary, where each string is associated with a list of values.
# But some of the values in the list are None (i.e. missing values)
curr_conv = {'curr' :[None, 'Euro', 'Franc', 'USD', None],
             'country':['Britain', 'France','Switzerland', 'USA', None],
             'value-SGD':[1.796, 1.581, 10382, 1.377, None],
             'total': [100.28, 200.31, 157.38, None, None]}

# Convert from dictionary to DataFrame
df = pd.DataFrame(curr_conv)
print(df)
print(50*'-')

# Print the DataFrame, with missing values removed.
# Since it is a DataFrame, therefore any rows with missing values will be removed.
print(df.dropna())
print(50*'-')

# Print the DataFrame, removing rows where all values are missing
print(df.dropna(how='all'))
print(50*'-')

# Print original DataFrame.
# Notice that is it unmodified, because the above functions do not change the original DataFrame
print(df)

    curr      country  value-SGD   total
0   None      Britain      1.796  100.28
1   Euro       France      1.581  200.31
2  Franc  Switzerland  10382.000  157.38
3    USD          USA      1.377     NaN
4   None         None        NaN     NaN
--------------------------------------------------
    curr      country  value-SGD   total
1   Euro       France      1.581  200.31
2  Franc  Switzerland  10382.000  157.38
--------------------------------------------------
    curr      country  value-SGD   total
0   None      Britain      1.796  100.28
1   Euro       France      1.581  200.31
2  Franc  Switzerland  10382.000  157.38
3    USD          USA      1.377     NaN
--------------------------------------------------
    curr      country  value-SGD   total
0   None      Britain      1.796  100.28
1   Euro       France      1.581  200.31
2  Franc  Switzerland  10382.000  157.38
3    USD          USA      1.377     NaN
4   None         None        NaN     NaN

## Filling In Missing Data

In [6]:
# Replace all missing values with a zero
print(df.fillna(0))
print(50*'-')

# Create a new DataFrame,
# where every missing value in column 'curr' is replaced with 'Pound',
# every missing value in column 'country' is replaced with 'Britain',
# etc.
new_df = df.fillna({'curr': 'Pound', 'country': 'Britain', 'value-SGD': 1.796, 'total': 100.28})
print(new_df)
print(50*'-')

# Remember that the original DataFrame is not modified by the above functions
print(df)

    curr      country  value-SGD   total
0      0      Britain      1.796  100.28
1   Euro       France      1.581  200.31
2  Franc  Switzerland  10382.000  157.38
3    USD          USA      1.377    0.00
4      0            0      0.000    0.00
--------------------------------------------------
    curr      country  value-SGD   total
0  Pound      Britain      1.796  100.28
1   Euro       France      1.581  200.31
2  Franc  Switzerland  10382.000  157.38
3    USD          USA      1.377  100.28
4  Pound      Britain      1.796  100.28
--------------------------------------------------
    curr      country  value-SGD   total
0   None      Britain      1.796  100.28
1   Euro       France      1.581  200.31
2  Franc  Switzerland  10382.000  157.38
3    USD          USA      1.377     NaN
4   None         None        NaN     NaN

## Data Transformation

In [8]:
# For each row in the 'new_df' DataFrame, has that row occurred before?
print(new_df.duplicated())
print(50*'-')

# Remove rows that have been previously duplicated
# (note that this does NOT remove the first time that the row occurs)
print(new_df.drop_duplicates())

0    False
1    False
2    False
3    False
4     True
dtype: bool
--------------------------------------------------
    curr      country  value-SGD   total
0  Pound      Britain      1.796  100.28
1   Euro       France      1.581  200.31
2  Franc  Switzerland  10382.000  157.38
3    USD          USA      1.377  100.28