<table class="table table-bordered">
    <tr>
        <th style="text-align:center; width:35%"><img src='https://dl.dropbox.com/s/qtzukmzqavebjd2/icon_smu.jpg' style="width: 300px; height: 90px; "></th>
        <th style="text-align:center;"><h3>ACCT649 - Pandas</h3></th>
    </tr>
</table>
*References - Python for Data Analysis- Data Wrangling with Pandas, NumPy,and IPython - Wes McKinney; O'REILLY <br></br>
*Michael Heydt-Mastering pandas for Finance- Master pandas, an open source Python Data Analysis Library, for financial data analysis-Packt Publishing (2015)

## Dataset: Players.csv, Teams.csv
In this NoteBook, we'll learn how to do some basic data manipulations. In this exercise, you'll be using Players.csv and Teams.csv. Take some time to examine both datasets and see what kinds of data is captured in there.

### Q1:

Import the dataset Players.csv into a Python DataFrame. Print the first and last 5 rows of the dataset

In [62]:
import pandas as pd

players_df = pd.read_csv("Dataset/Players.csv")
print(players_df.head())
print()
print(players_df.tail())

     surname     team    position  minutes  shots  passes  tackles  saves
0     Abdoun  Algeria  midfielder       16      0       6        0      0
1    Belhadj  Algeria    defender      270      1     146        8      0
2  Boudebouz  Algeria  midfielder       74      3      28        1      0
3  Bougherra  Algeria    defender      270      1      89       11      0
4   Chaouchi  Algeria  goalkeeper       90      0      17        0      2

           surname team    position  minutes  shots  passes  tackles  saves
590         Holden  USA  midfielder        4      0       2        0      0
591         Howard  USA  goalkeeper      390      0      81        0     14
592  Jozy Altidore  USA     forward      356      8      84        2      0
593         Onyewu  USA    defender      170      1      69        2      0
594         Torres  USA  midfielder       45      1      32        0      0

### Q2:

Print the summary statistical description of the DataFrame you created in Q1.

In [63]:
players_df.describe()

          minutes       shots      passes     tackles       saves
count  595.000000  595.000000  595.000000  595.000000  595.000000
mean   208.863866    2.304202   84.521008    4.191597    0.667227
std    145.433556    3.347430   77.310368    4.654052    2.955936
min      1.000000    0.000000    0.000000    0.000000    0.000000
25%     88.000000    0.000000   29.000000    1.000000    0.000000
50%    191.000000    1.000000   61.000000    3.000000    0.000000
75%    270.000000    3.000000  115.500000    6.000000    0.000000
max    570.000000   27.000000  563.000000   34.000000   20.000000

### Q3:

Print (a) the total minutes that all the players played, (b) number of average shots per player and (c) maximum tackles.

In [64]:
print("Total minutes all players played:", players_df["minutes"].sum())
print("Number of average shots per player: ", players_df["shots"].mean())
print("Max tackles:", players_df["tackles"].max())

Total minutes all players played: 124274
Number of average shots per player:  2.3042016806722687
Max tackles: 34

### Q4:

Print the surname of the players on a team with "land" in the team name.

In [65]:
# when going through a column to find a word in the item, need to use .str.contains()
players_df[players_df.team.str.contains("land")]["surname"]

135    Ashley Cole
136          Barry
137      Carragher
138         Crouch
139          Defoe
          ...
550       Senderos
551        Shaqiri
552          Yakin
553        Ziegler
554     von Bergen
Name: surname, Length: 70, dtype: object

### Q5:

What player on a team with "ia" in the team name played less than 200 minutes and made more than 100 passes? Print the player surname.

In [66]:
players_df[(players_df.team.str.contains("ia")) & (players_df.minutes < 200) & (players_df.passes > 100)]["surname"]

431    Kuzmanovic
Name: surname, dtype: object

### Q6:

What is the average number of passes made by forwards? By midfielders?

In [67]:
players_df.groupby("position")["passes"].mean()

position
defender      102.643617
forward        50.825175
goalkeeper     55.638889
midfielder     95.271930
Name: passes, dtype: float64

### Q7:

Which team has the highest ratio of goalsFor to goalsAgainst? Print the team  only.

In [77]:
teams_df = pd.read_csv("Dataset/Teams.csv")

In [84]:
teams_df["ratio"] = teams_df.goalsFor / teams_df.goalsAgainst
teams_df.sort_values("ratio", ascending = False)["team"][0]

'Brazil'

### Q8:

How many players on a team with ranking <10 played more than 350 minutes?

In [113]:
# Merge the two datasets ('players' and 'teams'),
# using column 'team' as the common index
players_teams = players_df.merge(teams_df, on = "team")
# after setting condition, then group by the teams, then count
players_teams[(players_teams.ranking < 10) & (players_teams.minutes > 350)].groupby("team")["team"].count()

team
Argentina       6
Brazil          8
England         5
Germany        10
Netherlands    10
Portugal        5
Spain          10
Name: team, dtype: int64

### Q9:

How many players on a team with goalsFor/goalsAgainst ratio of at least 1 and made more than 100 passes?

In [115]:
players_teams[(players_teams.ratio >= 1) & (players_teams.passes > 100)].groupby("team")["team"].count()

team
Argentina      10
Brazil          9
Germany         9
Ghana          10
Ivory Coast     3
Japan           7
Netherlands    11
New Zealand     1
Paraguay        8
Portugal        6
Slovenia        4
Spain          10
Switzerland     2
USA             7
Uruguay        10
Name: team, dtype: int64